<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".launcherGuide.ViewPagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.PlanActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.UserActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.BuynowActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.SpotActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.PictureFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.view.SearchTextActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.WordsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ZhuanTiItemDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ZhuanTiActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.WuliuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.HotelActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.HotelInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.HotelShowActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ticket.Ticket_Less"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ticket.Ticket_LessInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".team.Time_Manage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".team.Team_TeamMates"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.BuyNowHotel"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.BuyNowPlane"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.BuyNowTrain"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.GridActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.Hotel_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.PlaneActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.TrainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".team.TeamActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".team.Ticket_Manage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.JingXuanActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.admob.zkapp.covers.ViewService" />
    </application>

</manifest>